/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de color */
:root {
    --color-principal: #ffcae6; /* Usar el color principal de la tienda */
    --color-secundario: #FF4081; /* Usar el color principal de la tienda */
    --color-letras: #9a9999; /* Usar el color principal de la tienda */
    --color-fondo: #f3f3f3; /* Color de fondo similar al de la página actual */
}

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--color-fondo);
    color: #333;
}

h1, h2, h3 {
    color: var(--color-letras);
}

p {
    color: #333;
}

.envio {
    color: var(--color-letras);
}

h2, p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .logo img {
    width: 100px; /* Ajusta el tamaño del logo */
}

.social-media {
    display: flex;
    gap: 7px;
    align-items: center;
}

.social-media img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

/* Contenedor de las acciones de autenticación y carrito */
.header-actions-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* Estilo general para los botones de autenticación */
.auth-button {
    text-decoration: none;
    padding: 8px 15px;
    background-color: transparent;
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover para los botones */
.auth-button:hover {
    background-color: var(--color-secundario);
    color: white;
}

.cta-button:hover {
    background-color: var(--color-principal);
    color: white;
}

/* Carrito */
.cart-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-link img {
    width: 24px;
    height: 24px;
}

/* Contador del carrito */
.cart-count {
    position: absolute;
    top: -8px; /* Ajusta la posición superior */
    right: -6px; /* Ajusta la posición derecha */
    background-color: var(--color-secundario);
    color: white;
    padding: 3px 8px;
    border-radius: 50%;
    font-size: 0.7em;
}

/* Formulario de Crear Cuenta */
.create-account {
    text-align: center;
    padding: 50px 20px;
    max-width: 500px;
    margin: 40px auto 20px auto; /* Añadido margen superior y margen inferior reducido */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 5px solid var(--color-secundario); /* Borde superior entre header y formulario */
}

.create-account h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--color-principal);
}

.account-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1em;
    color: var(--color-letras);
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

input[type="password"] {
    font-family: 'Arial', sans-serif; /* Ocultar texto por defecto */
}

button.submit-btn {
    background-color: var(--color-secundario);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.submit-btn:hover {
    background-color: var(--color-principal);
}

/* Enlace para "Ya tienes cuenta" */
.already-have-account {
    margin-top: 20px;
    font-size: 1em;
}

.already-have-account a {
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: bold;
}

.already-have-account a:hover {
    text-decoration: underline;
}

/* Banner */
.banner {
    background-size: cover;
    background-position: center;
    height: 300px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h2 {
    font-size: 2.5em;
}

.banner p {
    font-size: 1.2em;
    margin: 10px 0;
}

.cta-button {
    background-color: var(--color-secundario);
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

/* Productos destacados */
.featured-products {
    text-align: center;
    padding: 50px 20px;
}

.featured-products h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.product-item {
    background-color: #fff;
    padding: 15px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-item p {
    margin: 10px 0;
}

.product-item button {
    background-color: var(--color-principal);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #e73566;
}

.view-more {
    text-decoration: none;
    color: var(--color-secundario);
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
}

.footertext {
    color: #fff;
}
