/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de color */
:root {
    --color-principal: #ffd9ce;
    --color-secundario: #f8c2b8;
    --color-letras: #9a9999;
    --color-fondo: #f3f3f3;
}
/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--color-fondo);
    color: #333;
    width: 100%;
}
h1, h2, h3 {
    color: var(--color-letras);
}
p {
    color: #333;
}
.envio {
    color: var(--color-letras);
}

h2, p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .logo img {
    width: 100px; /* Ajusta el tamaño del logo */
}

.social-media {
    display: flex;
    gap: 7px;
    align-items: center;
}

.social-media img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

/* Contenedor de las acciones de autenticación y carrito */
.header-actions-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* Estilo general para los botones de autenticación */
.auth-button {
    text-decoration: none;
    padding: 8px 15px;
    background-color: transparent;
    color: var(--color-secundario);
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover para los botones */
.auth-button:hover {
    background-color: var(--color-secundario);
    color: white;
}

.cta-button:hover {
    background-color: var(--color-principal);
    color: white;
}

/* Carrito */
.cart-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-link img {
    width: 24px;
    height: 24px;
}

/* Contador del carrito */
.cart-count {
    position: absolute;
    top: -8px; /* Ajusta la posición superior */
    right: -6px; /* Ajusta la posición derecha */
    background-color: var(--color-secundario);
    color: white;
    padding: 3px 8px;
    border-radius: 50%;
    font-size: 0.7em;
}

/* Productos */
#productos-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
}

/* Tarjeta de producto */
.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    padding-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.producto img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 12px;
    border-radius: 8px;
}

/* Título del producto */
.producto h3 {
    font-size: 1.2em; /* Tamaño más destacado */
    color: var(--color-secundario); /* Usa el color principal para destacar */
    margin: 8px 0;
    margin-bottom: 8px; /* Añade un margen para separación */
    font-weight: bold;
    text-transform: capitalize;
}
/* Precio y detalles */
.producto p {
    font-size: 1em; /* Un tamaño intermedio */
    color: #666;
    margin: 4px 0;
    line-height: 1.4; /* Espaciado entre líneas para mejor lectura */
    color: var(--color-letras); /* Tono más suave para contraste */
    margin-bottom: 12px; /* Espacio entre líneas */
}

.producto p:last-child {
    margin-bottom: 16px; /* Espacio extra debajo del último texto */
  }

/* Botón "Ver Producto" */
.ver-producto-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-secundario);
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid var(--color-secundario); /* Borde para darle más estilo */
    margin-top: auto;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1em; /* Ajusta el tamaño del texto */
    padding: 10px 20px; /* Hacer el botón más grande y accesible */
    
}

.ver-producto-btn:hover {
    background-color: var(--color-secundario);
    transform: scale(1.05);
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    #productos-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
}
.footertext{
    color: #fff;
}
